<br>
<p style="text-decoration: underline;">Insurance Providers In Network:</p>
<mat-chip-list title="Insurance Providers In Network" aria-label="Insurance Providers in Network">
    <mat-chip >Aetna</mat-chip>
    <mat-chip >Anthem</mat-chip>
    <mat-chip >Anthem Blue Cross Blue Shield</mat-chip>
    <mat-chip >Beacon</mat-chip>
    <mat-chip >Cigna</mat-chip>
    <mat-chip >Humana*</mat-chip>
    <mat-chip >United Healthcare</mat-chip>
    <mat-chip >Medicare*</mat-chip>
    <mat-chip >Medicaid*</mat-chip>
    <mat-chip >Maine Care*</mat-chip>
  </mat-chip-list>

We see VA hospital patients as well.
I can see personal injury/MVA/ and workman's comp cases, but these cases may require preauthorization from the claim adjuster.
*MaineCare plans may require referral from a PCP. MaineCare, Medicaid, Medicare, and Medicare replacement plans only reimburse for spinal manipulation or adjustment treatments. No coverage for exams , exercise , or manual/massage therapy.

Copyright © 2022 Movement Med LLC, all rights reserved.
21 Federal Street Apt 3,  Bar Harbor, ME 04609   (203) 525-9904
