<!-- <br><br><br> place holder to move content down for toolbar -->
<mat-grid-list cols="1" rowHeight="4:1">
  <mat-grid-tile rowspan="2"  style="background-image: url('../../assets/pictures/neck_tilt.jpg');">
    <div>
      <p class="headingA1">Find Alignment and<br>Relief From Pain</p>
      <p class="bodyA1">Experience the benefits of chiropractic manipulative therapy</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="grid_box">
    <div>
      <p class="headingA1">
        Empowering Patients to Reach Better Health<br>
      </p>
      <p class="bodyA1">
        Our local chiropractor is welcoming new patients from the Bar Harbor, ME area
      </p>
      <div class="bodyA1">
        <a class="mat-button-white" mat-stroked-button routerLink="/about">Contact</a>
      </div>
    </div>
    
  </mat-grid-tile>
</mat-grid-list>


<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile class="table1" style="background-image: url('../../assets/pictures/Chiropractic_Manipulation.jpg');">Chiropractic Manipulation</mat-grid-tile>
  <mat-grid-tile class="table1" style="background-image: url('../../assets/pictures/Therapeutic_Exercise.jpg');">Therapeutic Exercise</mat-grid-tile>
  <mat-grid-tile class="table1" style="background-image: url('../../assets/pictures/Soft_Tissue_Mobilization.jpg');">Soft Tissue Mobilization</mat-grid-tile>
  <mat-grid-tile class="table1" style="background-image: url('../../assets/pictures/Examination.jpg');">Examination</mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2" class="table1">
    <div>
      <p class="headingA1Black">
        Get to the Bottom of Your Aches and Pains
      </p>
      <p class="bodyA1Black">
        Consult our local chiropractor in Bar Harbor, ME
        Maybe your back has been sore and stiff for a while. 
        Maybe your neck, shoulders or hips are tense from sitting all day. 
        No matter where you pain is coming from, address the problem with a local chiropractor at Movement Med LLC. 
        You can meet our chiropractor specialist for a free consultation at our office in Bar Harbor, ME, where he'll sit down to talk with you one-on-one. 
        You'll feel right at home in our office's relaxed atmosphere and leave feeling much better.
      </p>
      <p class="bodyA1Black">
        You can also visit us for an in-depth examination, where our practitioner will investigate any medical issues that you're experiencing. We'll educate you on what's going on with your body, find ways to target the issues and empower you to recover from them. Call 203-525-9904 now to schedule an appointment with a local chiropractor.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2" class="table1">
    <!-- Facebook feed -->
    <iframe class="myIframe" title="FacebookIframe" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmovementmedmaine%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" scrolling="yes" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

  </mat-grid-tile>
  <mat-grid-tile colspan="4" class="table1">
    <div>
      <p class="headingA1Black">
        Our goal is to help you feel healthy again
      </p>
      <p class="bodyA1Black">
        While some chiropractors might want to keep patients forever, our local chiropractor will work hard to help you feel better and maintain your health on your own. He'll also address small problems before they become big problems that require more treatment. Plus, he'll gladly work alongside your primary care provider whenever needed. Work with us right away to support your wellness.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="2" class="table1" >
    <div>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="bodyA1Black">Sara B.</div>
          </ng-template>
          <q>There aren't enough words to express how happy I have been with my exeriences here.
            The treatment was effective. Dr. Joel takes the time to really listen. 
            I never felt rushed and was amazed that he strives to privide such excellent care, 
            that he will put himself out of a job.
            I really appreciated that he had a two-fold approach: immediate relief and long term solutions.
            I even convinced my husband to start seeing him.
          </q>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="bodyA1Black">Taylor C.</div>
          </ng-template>
          <q>Dr. Chaloux is incredibly kind, knowledgeable, and efficient at giving patient specific advice.
            Hi listens so well to your needs and his attention to detail with how to treat your ailments is awesome.
            His services are very affordable too. Recommend completely!
          </q>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="bodyA1Black">Daniel F.</div>
          </ng-template>
          <q>Joel was able to connect short and long-term issues to help me understand better the sources of pain.
            He was also able to privide precise exercises to help fix the problem. 
            It was nice to engage with someone who had a genuine interest in accurately identifying and treating what was wrong.
          </q>
        </mat-tab>
      </mat-tab-group>

    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2" class="table1">
    <div>
      <p class="headingA1Black">
        Ask about our treatment options
      </p>
      <p class="bodyA1Black">
        Are you ready to plan treatment with a chiropractor? Our specialist can take several paths to help you feel your best, including:
        <br>
        <br>Chiropractic manipulative therapy
        <br>Therapeutic exercise
        <br>Soft tissue mobilization
        <br>Examinations
        <br>
        <br>You'll experience unique benefits of chiropractic manipulative therapy, exercise or soft tissue mobilization when you visit our office.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2" class="table1">
    <div>
      <p class="headingA1Black">
        We are now offering orthotics!
      </p>
      <p class="bodyA1Black">
        Dr. Chaloux has partnered with Dr. Wedemeyer, Pedorthist and Founder of Solelutions Lab, to provide quality and custom orthodics so you do not have to experience daily pain in your feet, ankles, and joints. Dr. Chaloux would perform an foot exam to determine your medical need. Based on the data collected during your exam, he would then order a custom orthotic, through Solelutions Lab, that is tailored specifically to your need and situation.
      </p>
      <div class="bodyA1">
        <a rel="noopener" class="mat-button-white" mat-stroked-button href="http://solelutionslab.com/about-us/" target="_blank">Learn More</a>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2" class="table1">
    <div>
      <table mat-table [dataSource]="insurance" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column (hidden by default -JK)-->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Insurance Providers In Network </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    
  </mat-grid-tile>
</mat-grid-list>
