<p>myabout works!</p>

<div>
    Our Mission
At Movement Med LLC we pride ourselves on providing evidenced based, patient centered, chiropractic care in a warm and comfortable environment. Dr. Joel Chaloux believes in tailoring your treatment to your individual needs. Our philosophy is to work as a team with your primary care provider, and to educate and empower you to become an active participant in your own health and wellbeing. It is our belief that when patients not only receive appropriate care but also understand how to manage their condition they can lead a happier and more active life.

Practitioner Bio
Practitioner Bio
Joel Chaloux DC
Dr. Joel D. Chaloux grew up in Watertown, CT, where he spent much of his early twenties working in the masonry and roofing industry. He served as a volunteer firefighter and as a personal trainer, before sustaining a neck injury during MMA practice. Dr. Chaloux started seeing a student chiropractor for neck rehabilitation at the college he was attending. He was amazed at the results and so valued the chiropractic care he received in the student clinic, that he decided to put down the boxing mitts and pick up anatomy books.

He later went on to earn his Doctor of Chiropractic degree from the University of Bridgeport School of Chiropractic and is a member of the Maine Chiropractic Association. Specializing in Diversified Adjusting Techniques, McKenzie Method, and Fascial Manipulation, he takes pride in his ability to empower his patients to make better choices and at the same time, helping to guide them towards the road to recovery.

Dr. Chaloux currently resides in Bar Harbor, ME with his wife Lindsay, his son, Thatcher and two dogs, Sheila and Caboose.


</div>
